<div class="title"><a href="/">Boston Bike App</a> <span class="tagline">Live Hubway & MBTA Subway Map</span></div>
<div class="info">BostonBikeApp is a quick way to look up the availability of bicycles for Boston's Hubway bike sharing system.
  Bike stations with available bikes are shown in green. Stations without bikes to rent are shown in red.
  If you want to find out if there are free docks to return your Hubway bike, just click on the station and you'll
  see how many empty docks there are! And if your trip includes riding the T, you'll find green arrows marking MBTA stations.
  Click on a T station and we'll look up when the next trains are coming (not counting the Green Line!).</div>